@import url("https://fonts.googleapis.com/css?family=Eczar");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
:root{
    --PRIMARY:#0E185F;
    --SECONDARY:#a6e7fe;
    --MEDIUM:#00FFDD;
    --LIGHT: #E8FFC2;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Josephine Sans";
    
}
html{
    height: 100%;
    width: 100%;
    background-color: var(--MEDIUM)
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
input{
    width: 300px;
    margin: 8px;
    padding: 5px;
    background: rgb(241, 237, 237);
    border-radius: 6px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
form>h3{
    margin-top: 5px;;
    margin-bottom: 10px;
}
button{
    width: 100px;
    background-color: var(--PRIMARY);
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}
button:hover{
    opacity: 0.9;
}
.home-container{
    background-color: var(--SECONDARY);
    width: 500px;
    height: 300px;
    border: solid 3px black;
    border-radius: 20px ;
    display: flex;
    flex-direction: column;
}
.home-container>h1 {
    padding: 10px;
    color: var(--PRIMARY);
    font-family: Eczar;
    text-align: center;
}
.admin-page-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
   
}
.admin-page-header{
    display: flex;
    height: 50px;
    align-items: center;
    color: var(--LIGHT);
    justify-content: space-around;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--PRIMARY);
}
.admin-page-header >a{
    color: var(--LIGHT);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 5px;
}
.admin-page-header>a>p{
    font-size: 10px;
}
input[type=file]{
   
    display: none;
    background-color: aliceblue;
}
.file-upload-area{
    border: 2px solid black;
}
#file-input-label{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 800px;
    height: 100px;
      
}
#message-details{
    background-color:#9fffef;
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    
}

#message-details>p{
    text-align: center;
}
.err-input{
    border: 2px solid red;
    outline: none;

}
.column-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phone-input{
    width: 120px;
}
.message-input{
    width: 500px;
}
.flex-display{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    gap: 20px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e175fa8;
}
.message-box{
    width: 400px;
    min-height: fit-content;
    background-color: var(--PRIMARY);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
#overlay-head{
    margin: 5px;
    margin-left: 10px;
    color: #bcf2f7;
    font-size: 23px;
}
.overlay-message-container{
    height: 100%;
}
#overlay-message{
    height: 100%;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #19236c;
    color: white;
}
.overlay-btn-container{
    background-color: #19236c;
    display: flex;
    justify-content: end;
}
.overlay-btn-container>button{
    margin: 0px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: var(--PRIMARY);
    border: 0px;
}
.overlay-btn-container>button:hover{
    background-color: #12194b;
}
#message-details>p{
    margin-top: 200px;
    margin-left: 30px;
}
@media screen and (max-width:768px) {
    input {
            width: 200px;
            margin: 8px;
            padding: 5px;
            font-size: 10px;
            outline: none;
        }
        h1{
            font-size: 20px;
        }
    form>h3 {
        margin-top: 5px;
        ;
        margin-bottom: 10px;
    }
    button {
        width: 80px;
        font-size: 10px;
    }
    .home-container {
        width: 350px;
        height: 250px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }
    .admin-page-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
        #file-input-label {
            width: 370px;
            height: 100px;
    
        }
    #message-details {
        display: flex;
        padding: 10px;
        flex-direction: column;
        height: 670px;
        overflow-y: scroll;
        overflow-x: hidden;

    }
        .message-input-container>button{
            width: 50px;
        }
    .phone-input {
        width: 80px;
    }

    .message-input {
        width: 180px;
    }
    .admin-page-header>h4{
        font-size: 13px;
    }
    .message-box {
        width: 350px;
    }
#overlay-head {
    font-size:20px;
}



#overlay-message {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 13px;

}
}
@media screen and (max-height:400px) {
    .phone-input {
            width: 120px;
        }

    .message-input {
        width: 500px;
    }
}